*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #250057;

}
.input_box{
    background: #fff;
    width: 98%;
    max-width: 500px;
    max-width: 500px;
    border-radius: 5px;
    padding: 10px 30px;
    margin: 300px auto;
    display: flex;
    align-items: center;
    cursor: pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.input_box input{
    width: 100%;
    padding: 10px 0;
    border: none;
    cursor: pointer;

    outline: none;
    font-size: 24px;
    color: #555;
}
.input_box{
    font-size: 24px;
    cursor: pointer;
    color: #ff69b4;
    cursor: pointer;

}